@model AirlineReservations.Models.CityRoute

@{
    ViewData["Title"] = "Delete";
}

<br />
<br />
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-2">
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <h5>Sigur doriți să ștergeți acest lucru?</h5>
                        </div>
                        <div class="card-body">
                            
                                <dl class="row">
                                    <dt class="col-md-5">
                                        @Html.DisplayNameFor(model => model.RouteFromCity)
                                    </dt>
                                    <dd class="col-md-7">
                                        @Html.DisplayFor(model => model.RouteFromCity)
                                    </dd>
                                    <dt class="col-md-5">
                                        @Html.DisplayNameFor(model => model.RouteToCity)
                                    </dt>
                                    <dd class="col-md-7">
                                        @Html.DisplayFor(model => model.RouteToCity)
                                    </dd>
                                    <dt class="col-md-5">
                                        @Html.DisplayNameFor(model => model.Airline)
                                    </dt>
                                    <dd class="col-md-7">
                                        @Html.DisplayFor(model => model.Airline.AirlineName)
                                    </dd>
                                </dl>
                           
                            <hr />
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="RouteId" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                                  
                                </form>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


