@model IEnumerable<AirlineReservations.Models.CityRoute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteFromCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteToCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteFromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline.AirlineName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteId">Edit</a> |
              
                <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
