@model IEnumerable<AirlineReservations.ViewModel.TicketViewModel>

<br />
<br />

<div class="container">
    <div class="col-md-12 ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">

                    <div class="card">
                       
                        <div class="card-header">
                             <p class="text-center">
                                 Airline Code
                             <b> @item.AirlineCode</b>
                           </p>
                        </div>
                        <div class="card-body">
                            
                            <h4 >@item.airlineName</h4>
                            <ul>
                                <h6> Ticket From </h6>
                                <li>@item.TicketFrom</li>
                                <h6> Ticket To </h6>
                                <li>@item.TicketTo</li>
                                <h6>Passanger Class</h6>
                                <li>@item.PassangerClass</li>
                                <h6> Ticket Avaiable</h6>
                                <li>@item.TotalTicket </li>
                                
                                <h6> Time From</h6>
                                <li>@item.TimeFrom</li>
                                <h6> Time To</h6>
                                <li>@item.TimeTo </li>
                            </ul>
                            <a class="btn btn-primary" asp-action="ConfirmTicket" asp-controller="Passenger" asp-route-id="@item.TicketId">Book Now</a>

                        </div>
                    </div>
                    
                </div>
            }


        </div>
    </div>

</div>