@model AirlineReservations.Models.Tickets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicletTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicletTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinglePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinglePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoWaysPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoWaysPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookingClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookingClass.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
