@model IEnumerable<AirlineReservations.Models.Tickets>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicletTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinglePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoWaysPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookingClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicletTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinglePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoWaysPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline.AirlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingClass.ClassTpye)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
